@include iPhone {
    header {
        overflow: visible !important;
    }
}

@include xs {
    header {
        overflow: visible !important;
    }
}

@include safari {
    header {
        overflow: visible !important;
    }
}