// ================================
//  CLIENT LOGOS
// ================================

#our-clients .clients-logos div img.logo-vox {
    max-width: 55px !important;
}

#our-clients .clients-logos div {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#our-content .covered-by div img {
    width: 100%;
    height: auto;
}

@media (min-width: 1200px) {
    #our-content .covered-by div {
        margin-bottom: 20px;
    }
}

.logo-wp {
    transform: scale(2);

    @include safari {
        transform: scale(1)
    }
}

.logo-gazeta {
    transform: scale(1.3);

    @include safari {
        transform: scale(1)
    }

}