.page-about__mission {
    padding: 30px 15px;

    h2 {
        margin-bottom: 30px;
        font-size: 100px !important;
    }

    p {
        padding: 40px 0px 30px 0px;
        text-align: center;

        @include xl-min {
            text-align: left;
        }
    }

    .centralize {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &-left {
        @include xl-min {
            padding-right: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }


    }

    .page-about-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            max-width: 50px;
        }
    }

    &-left,
    &-right {
        width: 100%;

        @include xl-min {
            width: 50%;
        }

    }

    img {
        max-width: 100%;
        height: auto;
    }
}


section.page-about__values {
    ul {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        background: #ededee;
        padding: 40px 30px;
        margin-bottom: 30px;
    }

    li {
        box-sizing: border-box;
        padding: 10px 20px;
        width: 100%;

        @include lg-min {
            width: 50%;
        }
    }
}