#offer-page-table {
    width: 100%;
    background: #f4f6f8;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 25px;

    div {
        width: 100%;

        @include xl-min {
            width: auto;
        }
    }

    ul {
        padding: 20px 25px;

        li {
            font-weight: 400;
            padding: 10px 0;
            font-size: 18px;
            line-height: 25px;

            &:last-of-type {
                border-bottom: none;
            }
        }
    }
}