.page-carrers_our-photo img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

@media (max-width: 450px) {

    #careers-head>figure .h1,
    #careers-head>figure h3 {
        padding: 120px 0 140px;
        font-size: 50px !important;
        line-height: 1em;
    }
}